<div class="reviews align-left font-size-20">
    <h2>About</h2>
    <p>
        I am from Winston-Salem, North Carolina, and I moved to Reykjavík in June, 2020 to live with my wife, Unnur Rún. I’ve recently earned my Master’s of Science in Analytics, and I’m actively searching for data science, data analyst, and consulting roles in Reykjavík. I’m also interested in remote positions, internships, and pro bono work. Read more about my skills and work experience <a href="/cv.html">here</a>, and read on below to learn about my life story.
    </p>

    <h2>Master of Science in Analytics</h2>

    <p>
        In May, 2020, I earned my Master’s of Science in Analytics (MSA) from the <a href="https://analytics.ncsu.edu/?page_id=123">Institute of Advanced Analytics</a> at North Carolina State University, located in Raleigh, North Carolina. During the intensive, 10-month masters program, I spent nearly 60 hours a week immersed in learning and applying analytics with roughly 120 talented classmates. The program is highly selective, with acceptance rates hovering around 15% in recent years. 
    </p>
    <p>
        My favorite part of the MSA program was the practicum. Along with four of my classmates, we had the opportunity to spend eight months working on an analytics project for <a href="https://www.asurion.com/">Asurion</a>, a cell phone insurance and warranty company. I can’t disclose many details due to our nondisclosure agreement, but essentially our team used natural language processing and machine learning techniques to deliver insights about the business’s call routing system. Our final deliverable consisted of a presentation to senior members of Asurion’s analytics team, as well as a demo of a dashboard our team made with the Dash module in Python.
    </p>
    <p>
        (I gave an informal workshop to my practicum team to help us get started with Dash. Check it out <a href="https://github.com/rjweis/Dash-Workshop">here</a>.)
    </p>

    <img id="prac_pic" src="/practicum_team.jpg">

    <p>
        My practicum experience was extremely valuable, because it allowed me to apply what I was learning in the classroom and to a real-world business problem. Furthermore, I gained experience with communicating with stakeholders to define the scope of the project. It was also a great exposure to version control with Git. 
    </p>

    <h2>Teaching, Language, and Culture: Teaching English in France</h2>

    <p>
        The idea of pursuing a career in teaching had always been in the back of my mind since high school. I felt inspired to think that I could have an impact on a student’s life --  just as my teachers and mentors impacted me. Still, I was unsure whether a career in teaching was right for me. So, the natural next step was to give it a shot. 
    </p>
    <p>
        My curiosity about teaching, in part, is what brought me to France. I fell in love with the language when I was sixteen and took classes all throughout college. I knew the best way to improve my speaking skills would be to move and live in France. I did some research and discovered a program called <a href="https://frenchhighereducation.org/teaching-assistant-program">TAPIF</a> that allows Americans to teach English in French public schools for one school year. Coupled with my interest in teaching, this was a perfect fit for me.
    </p>
    <p>
        I applied and was accepted as an assistant de langue in a small city called Clermont-Ferrand, located in the south of France. I moved there the Fall after I graduated from college, and it was a fantastic gap year. I made friends with some of my colleagues and a few other American teaching assistants. My French improved a lot, and I practiced my public speaking skills in front of my classes on a daily basis. I even advertised myself as a private tutor and secured myself a handful of clients. 
    </p>

    <img src="/place_jaude.jpg" id="jaude">
    <img src="/jeanne_darc.jpg" id="jda">

    <h2>Music, Economics, and Public Policy at UNC-Chapel Hill</h2>

    <p>
        My undergraduate career started at UNC-Chapel Hill as a double major in Music and Global Studies. As a classical percussionist, I had decided to pursue music because I had earned a full-tuition scholarship as a <a href="https://kenanmusicscholars.unc.edu/">Kenan Music Scholar</a>. Global Studies, on the other hand, simply seemed to be a good fit because of my interest in other cultures. 
    </p>
    <p>
        Sadly, studying music at such a rigorous level began to wear away my love of music after just two semesters. Music became something I <em>had</em> to do, rather than something I looked forward to.
    </p>
    <p>
        After some reflection and research, I switched my majors to Economics and Public Policy. I chose these fields because I had become aware that millions of Americans work full-time jobs but still live under the federal poverty line. I thought this was unfair, and believed that I could somehow make some sort of difference through research in Economics and Public Policy.
    </p>
    <p>
        Towards the end of my degree, I had realized two things. First, maybe I had been a bit naïve. Meaningful, systemic change takes a <em>very</em> long time in the U.S. Did I have the patience to dedicate my career towards a goal and end up with a little to no results? I didn’t think so at the time. Ultimately, I decided that having a career that allowed me to support those working towards helping those in need could still be satisfying -- even if I didn’t think I would be changing the world solely from my day job. 
    </p>
    <p>
        Second, through my courses in data analysis and regression, I discovered that I really enjoy statistics and asking questions. Statistics add objective context to discussions and can help make decisions. I think that’s pretty cool! 
    </p>

    <h2>Testimonials</h2>
    <h3>During my master's, I worked on six different teams: one of them was my practicum team and the rest were homework teams. Here is what some of my teammates had to (anonymously) say about me.</h3>

    <p>
        "Ryan is a great team player! He always provides a positive environment for his team members and tries to put all of his effort in for the team. <strong>He goes above and beyond for his sections of the project and always comes prepared to contribute his ideas during meetings.</strong> He is a great writer and does a great job of building his analytical toolkit in his free time."
    </p>

    <!--fall 3 quote-->
    <p>
        "<strong>Ryan really shined in this module. Not only had he put many hours into the project, but Ryan also showed high leadership potentials in bringing the team together and effectively tackled many challenges.</strong> In sponsor meetings, Ryan often seized the opportunities to ask insightful and critical questions that later moved the team forward."
    </p>

    <!--summer quote-->
    <p>
        "<strong>I have never had a teammate that is so willing to go out of their way to help others.</strong> Ryan really excels when it comes to relationship building. He also is a very creative thinker. I think that this really helped us to look at the project in ways we wouldn't have without Ryan. I also think that this is a quality that will make him a very successful data scientist."
    </p>

    <!--fall 1 quotes-->
    <p>
        "Ryan is <strong>extremely detail-oriented</strong> and did a great job reviewing reports to provide feedback on content, flow, and grammar. Ryan does a great job of <strong>bringing the team together and making sure everyone is included. Ryan provides a great atmosphere for the team.</strong>"
    </p>

    <!--fall 2 quote-->
    <p>
        "<strong>Ryan has been willing to take initiative within the team, recently he took the position of scrum master!</strong> This role has been very beneficial to the team in terms of help us all stay on course to completing tasks. Ryan saw that there was a need for this organizational system, he went ahead, did his research and took it upon himself to assume the role of 'scrum master'. <strong>Ryan's positive energy and sense of humor has also helped maintain the team's morale, just as he's been doing from the start!"</strong>
    </p>

</div>
