<div class="reviews">
    <h1>Peer reviews</h1>
    <h3>During my master's, I worked on six different teams: one of them was my practicum team and the rest were homework teams. Here is what some of my teammates had to (anonymously) say about me.</h3>
    <!--summer quote-->
    <p>
        "I have never had a teammate that is so willing to go out of their way to help others. <strong>Ryan really excels when it comes to relationship building.</strong> He also is a very <strong>creative thinker</strong>. I think that this really helped us to look at the project in ways we wouldn't have without Ryan. I also think that this is a quality that will make him a very successful data scientist."
    </p>

    <!--fall 1 quotes-->
    <p>
        "Ryan is <strong>extremely detail-oriented</strong> and did a great job reviewing reports to provide feedback on content, flow, and grammar. Ryan does a great job of <strong>bringing the team together and making sure everyone is included. Ryan provides a great atmosphere for the team.</strong> I like that Ryan was so willing to take on any part of the report and not afraid to ask questions or challenge himself with a section he seemed less confident in (when he wrote the results for the last logistic report)."
    </p>

    <p>
        "Ryan is a great team player! He always provides a positive environment for his team members and tries to put all of his effort in for the team. <strong>He goes above and beyond for his sections of the project and always comes prepared to contribute his ideas during meetings.</strong> He is a great writer and does a great job of building his analytical toolkit in his free time."
    </p>

    <!--fall 2 quote-->
    <p>
        "<strong>Ryan has been willing to take initiative within the team, recently he took the position of scrum master!</strong> This role has been very beneficial to the team in terms of help us all stay on course to completing tasks. Ryan saw that there was a need for this organizational system, he went ahead, did his research and took it upon himself to assume the role of 'scrum master'. <strong>Ryan's positive energy and sense of humor has also helped maintain the team's morale, just as he's been doing from the start!"</strong>
    </p>

    <!--fall 3 quote-->
    <p>
        "<strong>Ryan really shined in this module. Not only had he put many hours into the project, but Ryan also showed high leadership potentials in bringing the team together and effectively tackled many challenges.</strong> In sponsor meetings, Ryan often seized the opportunities to ask insightful and critical questions that later moved the team forward."
    </p>
</div>
