.profile-pic {
    width: 250px; 
    border-radius: 50%;
}

html { 
    background: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('iceland_bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #prac_pic {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  #jaude {
    display: block;
    margin: 10px auto;
    width: 500px;
  }

  #jda {
    display: block;
    margin: 10px auto;
    width: 500px;
  }