.profile-pic {
  width: 250px; 
  border-radius: 50%;
}

.opaque-bg {
  background: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('iceland_bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clear-bg {
  background: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.95)), url('iceland_bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.standalone-img {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.adjacent-img {
  display: block;
  margin: 5px auto;
  width: 500px;
}

.img-container {
  margin: 30px auto;
}

@media screen and (max-width: 600px) {
  .standalone-img {
    width: 250px;
  }
  
  .adjacent-img {
    width: 250px;
  }
}