.home * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home h1 {
    font-size: 72px;
    margin-bottom: 0;
    margin-top: 10px;
}

.home h2 {
    font-size: 48px;
    margin-top: 0;
}

.txt-margin {
    margin: 0 20%;
}

.font-size-24 p {
    font-size: 24px;
}

.font-size-20 p {
    font-size:20px;
}
.align-left p, .align-left h3 {
    text-align: left;
}

.reviews h1, .reviews h2, .reviews h3 {
    margin: 20px 20%;
}

.reviews p {
    margin: 30px 20%; /*need to add style when screen is small*/
}

@media screen and (max-width: 600px) {
    .txt-margin {
        margin: 0 7.5%;
    }

    .reviews p {
        margin: 30px 7.5%;
    }

    .reviews h3 {
        margin: 20px 7.5%;
    }

    #prac_pic {
        margin: 20px 7.5%;
        width: 250px;
      }
    
      #jaude {
        margin: 20px 7.5%;
        width: 250px;
      }
    
      #jda {
        margin: 20px 7.5%;
        width: 250px;
      }
}